// COLORS
$text-color: #444444;
$text-color-dark: #000000;
$main-color: #63d1bb;
$main-color-dark: #56c3b2;
$bg-color: #ffffff;
$link-color: #46c1ae;
$input-color: #62d1ba;
$content-header-bg: #f1f1f1;
$table-border-color: #ececec;
$footer-divider: #e5e5e5;
