.contacts {
  padding: 30px 0;
}
.contacts__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.contacts__text {
  margin: 0;
  margin-bottom: 40px;
}
.contacts__text-label {
  display: inline-block;
  vertical-align: top;
  width: 76px;
}

.contacts__text-value {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  &--link {
    color: $text-color;
    text-decoration-color: $main-color;
  }
}

.contacts__map-image {
  width: 100vw;
  margin-bottom: 39px;
}
