.features__item {
  font-size: 15px;
  line-height: 20px;
}

.features__name,
.features__value {
  padding: 5px 0 12px;
  border-bottom: 1px solid $table-border-color;
}

.features__name {
  min-width: 97px;
}

.features__value {
  min-width: 163px;
}
