.features {
}

.features__name {
  padding: 15px 0;
  min-width: 97px;
  border-bottom: 1px solid $table-border-color;
}

.features__value {
  min-width: 163px;
  border-bottom: 1px solid $table-border-color;
}
