.form {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__category {
  margin: 0;
  border: 0;
  padding: 0;
  padding: 21px 0;
}
.form__option {
  margin: 0;
}
.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: $main-color;
}
