.product-card {
  border: 1px solid $table-border-color;
  width: 100%;
}
.product-card__image {
  width: 100%;
}
.product-card__text-wrapper {
  padding: 28px;
}
.product-card__title {
  margin: 0;
  margin-bottom: 5px;
}
.product-card__link-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $text-color-dark;
  text-decoration: none;
}
.product-card__dimensions {
  margin: 0;
  padding-bottom: 17px;
  border-bottom: 1px solid $table-border-color;
  font-size: 13px;
  line-height: 30px;
}
.product-card__price {
  padding-top: 22px;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
