.production {
  position: relative;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 102px;
  }
}

.production__inner {
  position: relative;
  border: 1px solid $table-border-color;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 682px 368px;
    grid-template-rows: min-content min-content;
  }

  &:hover .production__content {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .production__content {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__content {
  padding: 0 32px;
  padding-top: 28px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 25px;
    padding-bottom: 44px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-row-start: 2;
    padding-right: 48px;
    padding-left: 78px;
  }
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 27px;
  margin-left: 34px;
  padding-left: 57px;
  font-size: 17px;
  line-height: 24px;

  &::before {
    @include beforeafter;
    top: 8px;
    left: -1px;
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-video.svg");
    background-size: 32px 32px;

    @media (min-width: $tablet-width) {
      top: -7px;
      left: 8px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      left: 45px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 2;
    margin-bottom: 0;
    padding-left: 73px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-end;
    padding-top: 82px;
    padding-left: 44px;
    width: 200px;
  }
}

.production__video-wrapper {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 455px;
  }
}

.production__video {
  position: relative;
  width: 258px;
  height: 150px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 35px;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 682px;
  }
}

.production__button-play {
  position: absolute;
  top: 132px;
  left: 79px;
  border: 0;
  width: 101px;
  height: 76px;
  background-color: transparent;
  background-image: url("../../img/icon-play.svg");

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
    top: 189px;
    left: 283px;
  }

  @media (min-width: $desktop-width) {
    left: 291px;
  }
}

.production__wrapper {
  padding: 34px 30px;
}

.production__description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.production__button {
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-left: 2px;
    margin-right: 10px;
    font-size: 17px;
    line-height: 17px;
  }
}
