.production {
  position: relative;
  margin-bottom: 58px;
  border: 1px solid $table-border-color;
  padding-top: 22px;
}
.production__title {
  margin: 0;
  margin-bottom: 27px;
  margin-left: 34px;
  padding-left: 57px;
  font-size: 17px;
  line-height: 24px;
}
.production__video {
  position: relative;
  width: 100%;
}
.production__button-play {
  position: absolute;
  top: 140px;
  left: 80px;
  border: 0;
  width: 101px;
  height: 76px;
  background-color: transparent;
  background-image: url("../../img/icon-play.svg");
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}
.production__wrapper {
  padding: 34px 30px;
}
.production__description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 24px;
}
