.user-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    z-index: 4;
    max-width: 500px;
  }
}

.user-nav__item {
  position: relative;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &--search {
    @media (min-width: $tablet-width) {
      border-left: 1px solid rgba($text-color-dark, 0.1);
      border-right: 1px solid rgba($text-color-dark, 0.1);
    }
  }

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.user-nav__link {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 46px;
  width: 260px;
  font-size: 17px;
  line-height: 24px;
  color: $text-color-dark;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    padding: 21px 0;
    width: auto;
    font-size: 17px;
  }

  &--search {
    @media (min-width: $tablet-width) {
      margin: 10px 0;
      padding-left: 22px;
      padding-bottom: 20px;
      width: 84px;
      font-size: 0;
    }

    @media (min-width: $desktop-width) {
      width: 82px;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      margin-left: 32px;
      padding-left: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 31px;
      padding-right: 2px;
    }
  }

  &:hover {
    opacity: 0.6;

    .user-nav__icon {
      fill: $main-color;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;

    .user-nav__icon {
      fill: $main-color;
      opacity: 0.3;
    }
  }
}

.user-nav__icon {
  position: absolute;
  top: 31px;
  left: 1px;
  opacity: 0.2;

  &--search {
    @media (min-width: $tablet-width) {
      top: 26px;
      left: 35px;
      opacity: 0.3;
    }

    @media (min-width: $desktop-width) {
      left: 32px;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      top: 22px;
      left: -1px;
    }
  }
}
