@font-face {
  font-family: "Open Sans";
  // src: url("../fonts/something.woff2") format("woff2");
  // src: url("../fonts/something.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  // src: url("../fonts/gilrsomething.woff2") format("woff2");
  // src: url("../fonts/gilrsomething.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
