// COLORS
$text-color: #444444;
$text-color-dark: #000000;
$main-color: #63d1bb;
$main-color-hover: #59d5bc;
$main-color-dark: #56c3b2;
$main-color-dark-hover: #46c1ae;
$bg-color: #ffffff;
$link-color: #46c1ae;
$input-color: #62d1ba;
$content-header-bg: #f9f9f9;
$table-border-color: #ececec;
$footer-divider: #e5e5e5;
$header-border: #e0e0e0;
$category-bg: #f1f1f1;
$input-icon: #cccccc;
$modal-border: #c6c6c6;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

// Content Area
$content-mobile: 260px;
$content-tablet: 670px;
$content-desktop: 1050px;
